/*elements*/

* {
	box-sizing: border-box;
	outline: none;
}

body {
  color: #ffffff;
  font-size: 16px;
  font-family: Open Sans;
}

html {
  background-color: #000000;
}

img {
   max-width: 100%; /* adhere to container width */
   height: auto; /* make sure height scales correctly */
	 border: 0;
}

/*layout*/
.container {
  margin: 0 auto;
	padding: 0 1rem;
}
