/*elements*/

img {
   max-width: 100%; /* adhere to container width */
   height: auto; /* make sure height scales correctly */
	 border: 0;
}




* {
	box-sizing: border-box;
	outline: none;
}

body {
  color: #ffffff;
  font-size: 16px;
  font-family: Open Sans;
  /*text-align: center;*/
}

html {
  background-color: #000000;
}
