header {
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop {
    justify-content: flex-start;
  }
}

.site-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
}

.logo {
  margin-bottom: 1rem;
  img {
  max-width: 18.75rem;
  }
  @include tablet {
    margin: 0 1rem 0 0;
  }
}

form {
  border-bottom: 1px solid #dbdbdb;
  .hashtag-search {
    @include form(#ffffff);
    width:100%;
    margin:0 auto;
    align-self:auto;
    input {
      border: none;
      @include form(#c2c2c2);
      font-family: Open Sans;
    }
    button {
      border: none;
      flex:1 0 auto;
      @include form(#ffffff);
      &:hover {
        color: #e2231a;
      }
    }
  }
}
