header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop {
    justify-content: flex-start;
  }
}

.site-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    display: none;
  }
  @include tablet {
    flex-direction: row;
  }
}

.logo img {
  max-width: 300px;
  @include tablet {
    padding-right: 1rem;
  }
  @include desktop {
  max-width: 400px;
}
}

form {
  border-bottom: 1px solid #dbdbdb;
  width:300px;
  .hashtag-search {
    @include form(#ffffff);
    margin-top: .8rem;
    @include desktop {
    margin-top: 1.2rem;
      }
    .fa-hashtag {
      border: none;
      font-size: 1.25rem;
      font-weight: bold;
      padding-right: .4rem;
    }
    input {
      border: none;
      @include form(#c2c2c2);
      font-family: Open Sans;
      line-height: 1.75rem;
    }
    .search {
      border: none;
      padding-left: 4.3rem;
      outline: none;
      @include form(#ffffff);
      .fa-search{
      font-size: 1.25rem;
      font-weight: bold;
      }
      &:hover {
        color: #e2231a;
        cursor: pointer;
      }
    }
  }
}
