  @mixin tablet {
    @media all and (min-width:$tablet-width) {
      @content;
    }
  }

@mixin desktop {
  @media all and (min-width:$desktop-width) {
    @content;
  }
}

// photogrid

@mixin form($color) {
  color: $color;
  background-color: #000000;
  font-size: 1rem;
}
